body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    /* Black background */
}

.planet {
    position: absolute;
    border-radius: 70%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#sun {
    width: 50px;
    height: 50px;
    background-color: #FFD700;
    /* Gold */
    top: 50vh;
    left: 25px;
}

#mercury {
    background-color: #A9A9A9;
    /* Dark Gray */
    width: 6px;
    height: 6px;
    top: 50vh;
    left: 81.70px;
}

#venus {
    background-color: #F4A460;
    /* Sandy Brown */
    width: 10px;
    height: 10px;
    top: 50vh;
    left: 152.68px;
}

#earth {
    background-color: #4682B4;
    /* Steel Blue */
    width: 11px;
    height: 11px;
    top: 50vh;
    left: 211.10px;
}

#mars {
    background-color: #FF6347;
    /* Tomato */
    width: 6px;
    height: 6px;
    top: 50vh;
    left: 321.59px;
}

#jupiter {
    background-color: #CD853F;
    /* Peru */
    width: 30px;
    height: 30px;
    top: 50vh;
    left: 593.88px;
}

#saturn {
    background-color: #D2B48C;
    /* Tan */
    width: 25px;
    height: 25px;
    top: 50vh;
    left: 846.66px;
}

#uranus {
    background-color: #87CEEB;
    /* Sky Blue */
    width: 12px;
    height: 12px;
    top: 50vh;
    left: 1023.05px;
}

#neptune {
    background-color: #4169E1;
    /* Royal Blue */
    width: 12px;
    height: 12px;
    top: 50vh;
    left: 1270px;
}
